.partnersbox
{
    width: 100%;
    min-width: 350px;
    max-width: 400px;
    height: auto;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-bottom: 40px;
    padding: 10px;
}
.cpheading
{
    font-size: 70px;
    margin-bottom: 30px;
}
.cpimgfix
{
    width: 100%;
    height:auto;
    max-height: 100px;
    max-width: 100px;
    padding: 10px;
}