.subfooter-container {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #4387f6;
  padding: 4%;
}

.subfooter-container h1 {
  font-size: 3rem;
}

.subfooter-container h3 {
  font-size: 1.5rem;
  text-align: center;
  width: 35%;
}

.subfooter-social-icons {
  margin-top: 1rem;
  font-size: 3rem;
  display: flex;
  gap: 3rem;
}

.main-footer img {
  width: 9%;
  margin-bottom: 0.2rem;
}

.main-footer {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem 0 1.5rem;
}

.main-footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.main-footer-bottom a {
  color: #0056e3;
}

.main-footer-bottom p {
  margin: 0;
}

.main-footer-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.text {
  font-size: 45px;
  font-weight: 500;
}

@media only screen and (max-width: 480px) {
  .subfooter-container h1 {
    font-size: 1.5rem;
  }

  .subfooter-container h3 {
    margin-top: 0.1rem;
    font-size: 0.7rem;
    width: 60%;
  }

  .subfooter-social-icons {
    font-size: 1.5rem;
    display: flex;
    gap: 1.5rem;
    margin-bottom: 3%;
  }

  .main-footer img {
    width: 25%;
    margin-bottom: -0.2rem;
  }

  .main-footer {
    font-size: 0.6rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem 0 1.5rem;
  }

  .main-footer-socials {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.8rem;
  }

  .main-footer-socials p {
    display: none;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .subfooter-container h1 {
    font-size: 2rem;
  }

  .subfooter-container h3 {
    margin-top: 0.1rem;
    font-size: 1rem;
    width: 40%;
  }

  .subfooter-social-icons {
    font-size: 2rem;
    display: flex;
    gap: 1.5rem;
    margin-bottom: 3%;
  }

  .main-footer img {
    width: 15%;
    margin-bottom: -0.2rem;
  }

  .main-footer {
    font-size: 0.8rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem 0 1.5rem;
  }

  .main-footer-socials {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .subfooter-container h1 {
    font-size: 2rem;
  }

  .subfooter-container h3 {
    margin-top: 0.1rem;
    font-size: 1rem;
    width: 40%;
  }

  .subfooter-social-icons {
    font-size: 2rem;
    display: flex;
    gap: 1.5rem;
    margin-bottom: 3%;
  }

  .main-footer img {
    width: 15%;
    margin-bottom: -0.2rem;
  }

  .main-footer {
    font-size: 0.8rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem 0 1.5rem;
  }

  .main-footer-socials {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}