#joingdg
{
    margin-top: 30px;
}
.joingdgimg
{
    width: 100%;
    height: auto;
    margin-left: -10%;
}
.joingdgmobimg
{
    width: 100%;
    height: auto;
    display: none;
}
/* Vertically Align Centre */
.outer {
    display: table;
    height: 100%;
    width: 100%;
  }
  
  .middle {
    display: table-cell;
    vertical-align: middle;
  }
  
  .inner {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
    /* max-width: 400px; */
  }
  /* Vertically Alligned CSS Ends */
  @media only screen and (max-width: 800px)
  {
    .joingdgmobimg
    {
        display: block;
        margin-left: 10%;
    }
    .joingdgimg
    {
        display: none;
    }
    p
    {
        font-size: 12px;
    }
    h1
    {
        font-size: 20px;
    }
    .btn
    {
      width: 100%;
    }
  }