html {
    height: 100%;
}

.bg-color {
    flex: 1;
    background-color: #E9F1FF;
}

.headS {
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 0px;
}


.ScheduleCss {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

.footer {
    margin-top: auto;
}

.info {
    font-weight: 400;
    font-size: 2.5vh;
    color: #4F4D4D;

}

.faqmenu {
    max-width: fit-content;
    background-color: #fff;
    border-radius: 5px;
    height: auto;
    margin: 1vh;
    padding: 0px;
    font-weight: bold;
}

.nav-link {
    margin: 14px;
    color: black;
}

.nav-tabs {
    margin-bottom: 10px;
    background-color: white;
    /* border-bottom: 1px solid #dee2e6; */
}

.nav-tabs .nav-link.active {
    font-weight: 600;
    color: #4387F6;
    background-color: #fff;
    border-bottom: 5px solid #4387F6 !important;
    /* border-color: #ffffff #ffffff #4387F6; */
    border-color: #ffffff #ffffff #4387F6;
}

.nav-tabs .nav-link:hover {
    color: #4387F6;
    border-color: white;
}

.schTime {
    border-right: 3px solid rgb(0, 101, 203);
    border-color: #ffffff #efefef rgb(0, 101, 203);
}

.startTime {
    font-weight: 400;
    font-size: 30px;
    color: #4F4D4D;
}

.endTime {
    font-weight: 400;
    font-size: 20px;
    color: #4F4D4D;
}

.topic {
    font-size: 24px;
    color: #111111;
    font-weight: 400;
}