#special-guest
{
    padding-top: 80px;
    padding-bottom: 80px;
    background: #edf3ff;
}
/* .red-circle
{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
} */
.special-speaker-img
{
    width: 100%;
    height: auto;
    max-width: 350px;
    max-height: 450px;
    margin-top: 2rem;
}

.guest-arrow{
    height: max-content;
    width: 45%;
    margin-left: 500px;
}

@media only screen and (min-width:1200px) and (max-width:1399px) {
    .guest-arrow{
        margin-left: 380px;
    }
    .special-speaker-img{
        margin-top: 4rem;
    }
}

@media only screen and (max-width:1199px) {
    .guest-arrow{
        display: none;
    }
}

@media screen and (max-width: 962px)
{
    .special-speaker-img
    {
        max-width: 200px;
        max-height: 300px;
    }
}