h1
{
    font-size: 42px !important;
}
.cardimgfix
{
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    padding: 10px;
}
.cardbox1
{
    border: 1px solid red;
}
.cardbox2
{
    border: 1px solid gold;
}
.cardbox3
{
    border: 1px solid silver;
}
.bottombox1
{
    background-color: red;
}
.bottombox2
{
    background-color: gold;
}
.bottombox3
{
    background-color: silver;
}
.bottombox1,.bottombox2,.bottombox3 p
{
    text-align: center;
    padding-top: 10px;
}
.bottombox1,.bottombox2,.bottombox3
{
    min-height: 50px;
    /* margin-top: 26%; */
    /* margin-top: 65%; */
}
.bottombox3
{
    margin-top: 2.8cm;
}
.cardbox1,.cardbox2,.cardbox3
{
    width: 100%;
    max-width: 517px;
    height: auto;
    max-height: 357px;
    min-height: 357px;
    border-radius: 5px;
}
