#sponsors
{
    margin-top: 30px;
}
.sponsor-heading
{
    text-align: center;
    font-size: 70px;
    margin-bottom: 30px;
    color: #4387F6;
}
.sponsorcards
{
    width: 200px;
    height: 150px;
    position: relative;
    margin-bottom: 20px;
}
.sponsorcards2
{
    width: 200px;
    height: 180px;
    position: relative;
    margin-bottom: 20px;
}
.card-img-top
{
    width: 100%;
    object-fit: contain;
    padding: 10px;
}
.card1
{
    border: 1px solid #2B82FB;
}
.img1
{
    height: 170px!important;
}
.assetmantle
{
    height: 140px;
}
.title1
{
    background-color: #2B82FB;
    padding-top: 10px;
    margin-left: -16px;
    margin-top: -24px;
    color: white;
    height: 40px;
    width: 100%;
    text-align: center;
    position: absolute;
}
.card2
{
    border: 0.2px solid gold;
}
.img2
{
    height: 140px;
}
.title2
{
    background-color: #2B82FB;
    padding-top: 10px;
    margin-left: -16px;
    margin-top: -18px;
    color: white;
    height: 40px;
    width: 100%;
    text-align: center;
    position: absolute;
}
.card3
{
    border: 0.2px solid silver;
}
.title3
{
    background-color: silver;
    padding-top: 10px;
    margin-left: -16px;
    margin-top: -15px;
    color: white;
    height: 40px;
    width: 100%;
    text-align: center;
    position: absolute;
}