.team-container{
    margin: 2rem 8rem 5rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.team-container-title{
    align-self: center;
    text-align: center;
    margin-bottom: 4rem;
}

.team-container h1{
    font-size: 2.4rem !important;
}

.team-container-title h1{
    font-size: 4rem !important;
}

.team-container-title p{
    font-size: 1.2rem;
}

.members{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}

.organisers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3rem;
    margin-top: 3rem;
    gap: 3rem;
}

.organiser-card{
    width: max-content;
    align-self: center;
}

.member-card{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    background: #ffffff;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 0.6rem;
    box-shadow: 0px 0px 15px 0px #80808088;
}

.organiser-name{
    font-size: 2rem;
    color: #4387f6;
    margin-bottom: 0rem;
}

.organiser-post{
    font-size: 1.2rem;
    color: grey;
}

.member-card img{
    width: 95px;
}

.organiser-card img{
    width: 165px;
}

.member-name{
    font-size: 1.2rem;
    color: #4387f6;
    margin-bottom: 0rem;
}


.member-post{
    font-size: 1rem;
    color: grey;
}

.members-social{
    display: flex;
    gap: 1rem;
}

.member-social-icon{
    font-size: 1.8rem;
}

.member-social-icon:hover{
    font-size: 2rem;
    transition: 0.1s;
}

@media only screen and (max-width:540px) {
    .team-container{
        margin: 1rem 2rem 1rem 2rem;
    }

    .team-container h1{
        margin-top: 2rem;
        font-size: 2rem !important;
    }

    .team-container-title p{
        font-size: 1rem;
    }    

    .team-container-title h1{
        font-size: 3rem !important;
    }

    .organisers{
        margin-top: 1rem;
    grid-template-columns: 1fr;
    }

    .team-desc{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .organiser-name{
        font-size: 1.3rem;
        text-align: center;
    }
    
    .organiser-post{
        font-size: 0.8rem;

    }

    .organiser-card{
        flex-direction: column;
    }

    .organiser-card img{
        width: 75% !important;
    }

    .members{
        grid-template-columns: 1fr;
    }

    .member-card{
        padding: 1rem 2rem 1rem 2rem;
        margin:2rem 0rem 0rem 0rem;
        flex-direction: column;
    }

    .member-card img{
        width: 45%;
    }

    .member-name{
        font-size: 1rem;
    }
    
    .member-post{
        font-size: 0.8rem;

    }
    
    .member-social-icon{
        font-size: 1rem;
    }

}

@media only screen and (min-width:541px) and (max-width:768px) {
    .team-container{
        margin: 1rem 2rem 1rem 2rem;
    }

    .team-container h1{
        margin-top: 2rem;
        font-size: 2rem !important;
    }

    .team-container-title p{
        font-size: 1rem;
    }    

    .team-container-title h1{
        font-size: 3rem !important;
    }

    .organisers{
        margin-top: 1rem;
    grid-template-columns: 1fr;
    }

    .organiser-desc{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .organiser-name{
        font-size: 1.3rem;
        text-align: center;
    }
    
    .organiser-post{
        font-size: 0.8rem;

    }

    .organiser-card{
        flex-direction: column;
    }

    .organiser-card img{
        width: 35% !important;
    }
    .members{
        grid-template-columns: 1fr 1fr;
    }

    .member-card{
        padding: 1rem 2rem 1rem 2rem;
        margin:2rem 0rem 0rem 0rem;
    }

    .member-name{
        font-size: 1rem;
    }
    
    
    .member-post{
        font-size: 0.8rem;

    }

    .members-social{
        margin-top: -1rem;
    }
    
    .member-social-icon{
        font-size: 1rem;
    }

}

@media only screen and (min-width:769px) and (max-width:1024px) {
    .team-container{
        margin: 1rem 2rem 1rem 2rem;
    }

    .organiser-card{
        flex-direction: column;
    }

    .team-desc{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .organiser-name {
        font-size: 1.5rem;
    }

    .organiser-post{
        font-size: 1rem;
    }

    .organiser-card{
        padding: 1rem 3rem 1rem 3rem !important;
        margin:2rem 2rem 0rem 2rem;
    }
    
    
    .members{
        grid-template-columns: 1fr 1fr;
    }

    .member-card{
        padding: 1.5rem 3rem 1.5rem 3rem;
    }

    .member-name{
        font-size: 1.2rem;
    }
    
    
    .member-post{
        font-size: 0.8rem;

    }

    .members-social{
        margin-top: -1rem;
    }
    
    .member-social-icon{
        font-size: 1rem;
    }

}