.testimonials-container{
    background: #EDF3FF;
    height: max-content;
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 5rem;
}

.testimonials-title{
    font-family: sans-serif;
    font-weight: 300;
    color: #4387F6;
    font-size: 2rem;
    display: flex;
    flex-direction: column;

}

.title{
    display: flex;
    flex-direction: column;
}

.title h1{
    font-size: 3.5rem;
    margin: 0rem;
}

.message{
    padding-left: 22rem;
    width: 85%;
}

.scratch{
    padding-left: 3rem;
    width: 30%;
}

.testimonials{
    margin-top: -6rem !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-container{
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.testimonial-container-prev{
    position: relative;
    top: 8rem;
    left: -1rem;
    width: 80%;
    opacity: 0.4;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.testimonial-container-next{
    position: relative;
    bottom: 8rem;
    left: -1rem;
    width: 80%;
    opacity: 0.4;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.testimonial-item{
    display: flex;
    flex-direction: column;
    background: white;
    padding: 1rem;
    width: 80%;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 20px 0px rgba(124, 124, 124, 0.452);
}

.testimonial-item h1{
    color: black;
}

.testimonial-item p{
    margin-top: -0.2rem;
    width: 80%;
}

.attendee{
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.attendee img{
    width: 10%;
}

.attendee-name p{
    margin-top: -1rem;
    width: 100%;
}