.testimonials-container{
    background: #EDF3FF;
    height: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding-left: 5rem;
    padding-top: 5rem;
}

.testimonials-title{
    font-family: sans-serif;
    font-weight: 300;
    color: #4387F6;
    font-size: 2rem;
    display: flex;
    flex-direction: column;

}

.title{
    display: flex;
    flex-direction: column;
}

.title h1{
    font-size: 3.5rem;
    width: 70%;
    margin: 0rem;
}

.message{
    margin-left: 20rem;
    width: 12%;
}

.scratch{
    width: 15%;
    margin-left: 2rem;
}

.testimonials{
    margin-top: -8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-container{
    display: flex;
    flex-direction: column;
    z-index: 1000;
    width: 100%;
}

.testimonial-container-prev{
    position: relative;
    top: 8rem;
    left: -1rem;
    width: 80%;
    opacity: 0.4;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.testimonial-container-next{
    position: relative;
    bottom: 8rem;
    left: -1rem;
    width: 80%;
    opacity: 0.4;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.testimonial-item{
    display: flex;
    flex-direction: column;
    background: white;
    padding: 1rem;
    width: 80%;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 1px 1px 20px 0px rgba(124, 124, 124, 0.452);
}

.testimonial-item h1{
    color: black;
    font-size: 2.5rem;
}

.testimonial-item p{
    margin-top: -0.2rem;
    width: 80%;
    font-size: 1.2rem;
}

.attendee{
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.attendee img{
    width: 10%;
}

.attendee-name p{
    margin-top: -1rem;
    width: 100%;
}


@media only screen and (max-width:480px) {
    .testimonials-container{
        grid-template-columns: 1fr;
        padding-left: 1rem;
        padding-top: 1rem;
    }

    .title{
        align-items: center;
        text-align: center;
    }


    .title h1{
        font-size: 1.5rem;
    }

    .message{
        margin-left: 16rem;
        width: 8%;
    }
    
    .scratch{
        margin-left: 8rem;
        width: 10%;
    }

    .testimonials{
        margin-top: -3rem;
        width: 100%;
    }

    .testimonial-item{
        align-self: center;
        padding: 0.8rem;
        width: 80%;
    }
    
    .testimonial-item h1{
        color: black;
        font-size: .8rem;
    }
    
    .testimonial-item p{
        margin-top: -0.2rem;
        width: 80%;
        font-size: .5rem;
    }

    .testimonial-container-prev{
        top: 5rem;
        left: 0;
    }

    .testimonial-container-next{
        bottom: 5rem;
        left: 0;
    }
    
    .attendee{
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    
    .attendee img{
        width: 20%;
    }
    
    .attendee-name h3{
        font-size: 0.8rem;
    }
}

@media only screen and (min-width:481px) and (max-width:768px) {
    .testimonials-container{
        grid-template-columns: 1fr;
        padding-left: 1rem;
        padding-top: 1rem;
    }

    .title{
        align-items: center;
        justify-content: center;
    }

    .title h1{
        font-size: 2rem;
        width: max-content;
    }

    .message{
        margin-left: 28rem;
        width: 8%;
    }
    
    .scratch{
        margin-left: 15rem;
        width: 10%;
    }

    .testimonials{
        margin-top: -3rem;
        width: 100%;
    }

    .testimonial-item{
        align-self: center;
        padding: 0.8rem;
        width: 80%;
    }
    
    .testimonial-item h1{
        color: black;
        font-size: 1.5rem;
    }
    
    .testimonial-item p{
        margin-top: -0.2rem;
        width: 80%;
        font-size: 1rem;
    }

    .testimonial-container-prev{
        width: 80%;
        top: 7rem;
        left: 0;
    }

    .testimonial-container-next{
        bottom: 7rem;
        left: 0;
    }
    
    .attendee{
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    
    .attendee img{
        width: 15%;
    }
    
    .attendee-name h3{
        font-size: 1rem;
    }
}