.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
}

.content {
    flex: 1;
}

.ticket {
    display: flex;
    flex-direction: column;
}

.getTicket {
    background-color: #b4b4b4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 12%;
}