html {
    overflow-x: hidden;
}

h1 {
    color: #4387F6;
    font-size: 70px;
}

#whatisdevfest {
    margin-top: 30px;
}

.whatisdevfestimg {
    width: 100%;
    height: auto;
    margin-left: -20%;
}

.addbg {
    background-image: url("../assets/images/WhatIsFrame.svg");
    background-size: contain;
    height: 550px;
}

.whatisdevfest-content {
    margin-top: 30px;
    background-image: url("../assets/images/whatisbg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    /* min-width: 900px; */
    height: 200%;
    /* min-height: 650px;*/
}

.whatisdevfest-content-header {
    max-width: 90%;
    padding: 60px;
    text-align: justify !important;
}

.whatisdevfest-content-header h1 {
    font-size: 50px ;
    font-weight: 600;
    color: #4387F6;
}

.whatisdevfest-content-header p {
    max-width: 800px;
    font-size: 20px;
}

@media only screen and (max-width: 1200px) {
    .whatisdevfest-content-header {
        padding: 10px;
    }

    .whatisdevfest-content-header p {
        font-size: 16px !important;
    }

    .whatisdevfest-content-header h1 {
        font-size: 35px;
    }

    .whatisdevfest-content {
        max-height: min-content !important;
        background: white;
        border-radius: 30px;
        min-height: 0px;
        padding-left: 20px;
        height: auto;
        margin: 50px 42px;
    }

    .whatisdevfestimg {
        margin-left: 0;
    }

    .addbg {
        height: auto;
    }
}

@media(max-width:775px) {
    .whatisdevfest-content {
        height: auto;
        margin: 18px;
        width: 93%;
    }
    
}
@media(max-width:400px){
    .whatisdevfest-content-header h1 {
        font-size: 28px;
    }
}